<h1>
	Hello World! ini File Pertamaku kawan !
</h1>
---------------------------------------------
	<p>Daftar orang terkaya Sedunia :</p>
		<ul>
			<li>Elon Musk</li>
			<li>Warren Buffet</li>
			<li>Bill Gates</li>
			<li>Temen2 Telkom</li>
				<ol>
					<li>Aaron</li>
					<li>Ilham</li>
					<li>Arya</li>
				</ol>
		</ul>
---------------------------------------------
	<p>Daftar Fundamental Front End
		<ol>
			<li>HTML</li><img src="html-logo.png">
			<li>CSS</li>
			<li>Javascript</li>
		</ol>		
	</p>