
.jumbotron {

			font-size 		: 20px;
			padding 		: 60px;
			background-color: #5F9EA0;
			text-align 		: center;
			color 			: white;
		}

		body {
			padding 		: 20px;
			overflow 		: auto;
			justify-content : center;
		}

		#content {
			float 			: left;
			width 			: 100%;
			padding-right   : 10px;
			padding-left 	: 2px;  
			padding-bottom  : 4px; 
			display 		: block;
			overflow 		: auto;
			margin 			: 0 auto;
		}

		nav {
			background-color: #008080;
			padding 		: 5px;
			position 		: relative;
			top 			: 0;
			text-align 		: center; 
			display 		: block;
		}

		nav li {
			display 		: inline;
			list-style-type : none;
			margin-right 	: 20px;
			padding 		: 5px 10px; 
		}

		nav a {
			background-color 	: #008080;
			padding 			: 20px;
			font-size 			: 20px;
			font-weight 		: 800;
			text-decoration 	: none;
			color 				: white;
			margin 				: 0 auto;
			display 			: inline-block;
			text-align 			: center;
			 
		}

		h2, h3 {
			color : #5F9EA0;
		}

		.profile-img {
			margin-left 	: auto;
			margin-right 	: auto;
			max-height 		: 200px;
			width 		 	: auto;
			border-radius 	: 45%;
		}